{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Create a Book Review
    </title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>
<body>
    <header>
        <div>
            My Book Reviews
        </div>
        <nav>
            <a href="{% url "review_list" %}">Back to List</a>
        </nav>
    </header>
    <main>
        <div class="book-review-form">
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="button">Submit</button>
            </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            Copyright 2022 by Daniel C
        </div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Maiores adipisci odit sapiente aliquid saepe veritatis nesciunt 
            eius! Perspiciatis.
        </p>
    </footer>
</body>
</html>