{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Make It Stick - Book Review</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>
<body>
    <header>
        <div>
            My Book Reviews
        </div>
        <nav>
            <a href="main.html">Back to List</a>
            <a href="create.html">Create a Review</a>
        </nav>
    </header>   
    <main>
        <div class="detail-page-book-review">
            <img src="https://mks.io/make-it-stick.jpg">
            <h1>Make It Stick</h1>
            <div class="">4 stars</div>
            <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
            <h2>Summary</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quam suscipit eius, eligendi 
                dolorem error ab eaque dignissimos reiciendis voluptatibus eum quisquam doloribus pariatur 
                qui cupiditate fugiat! Ratione, voluptates. Vero minima consectetur voluptatibus a! Sunt 
                dicta consequatur repellat similique asperiores, facere unde, quas aut sed molestias, 
                maxime officia?
            </p>
            <h2>My Review</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum doloremque obcaecati nam 
                voluptatum fugiat maiores facilis corporis vero amet odit? Vel, maxime voluptates? 
                Repellendus aliquid eos necessitatibus assumenda pariatur rem odit, temporibus saepe a 
                tempore ex, id ullam quam beatae, quia non tempora culpa suscipit quae! Voluptate, eos.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel ipsam hic eius deleniti 
                corrupti, molestias alias, distinctio id libero iste, quod pariatur saepe? Obcaecati 
                tenetur inventore deleniti facilis necessitatibus velit exercitationem sit saepe dicta 
                temporibus rem id, ad deserunt doloremque voluptatibus sequi nisi quis ut possimus voluptas 
                blanditiis.
            </p>
        </div>
    </main> 
    <footer>
        <div>
            Copyright 2022 by Daniel C
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur itaque odit magnam adipisci aspernatur fugit illum ratione. Placeat!</p>
    </footer>
</body>
</html>